
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

/* styling for header at top */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #313131;
    padding: 15px 15px;
    font-size: 25px;
    text-decoration: solid;
}

/*styling for main content, to disply work */
main {
    display: flex;
    flex-wrap: wrap;

}

/* styling for nav bar at the top */
nav ul {
    margin: 0;
    padding: 0;
    background-color: #ababab;
    font-size: 20px;
    overflow: hidden;
}

nav li {
    display: inline;
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

nav a:hover {
    background-color: #999;
}